.slider {
  background: #14532d;       /* Dark green */
  overflow: hidden;
  white-space: nowrap;
  padding: 30px 0;
}

.slider-track {
  display: inline-block;
  animation: scroll 20s linear infinite;
}

.slider-track span {
  display: inline-block;
  margin: 0 40px;
  font-size: 25px;
  font-weight: 700;
  color: white;
}

/* Animation */
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Hover pe ruk jayega */
.slider:hover .slider-track {
  animation-play-state: paused;
}